.Hero{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(8,0,5.8,0.7),rgba(8,0,5.8,0.7)),  url('https://thumbs.dreamstime.com/b/university-students-studying-together-campus-ground-happy-preparing-lecture-156230038.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
}
.btn i{
    width: 20px;
    margin-left:10px;
}
.container .btn:hover{
    background: #212FE0;
    transition: 0.9s;
    color: white;
}
/*media quey*/
@media (max-width:850px){
    .hero-text h1{
        font-size: 40px;
    }
}

@media (max-width:650px){
    .hero-text h1{
        font-size: 20px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px ;
        margin: 15px auto 30px;
        
    }
}